Repository gophersbd/gouberfmt, changes with the owners that CODEOWNERS names for each.
All owners: @sadlil, @alaminopu, @aerokite

Implement check for pointer to sync.Mutex (#3)
  .gitignore
  README.md
  analyzers/mutexpointer/mutex_pointer.go
  analyzers/mutexpointer/mutex_pointer_test.go
  analyzers/mutexpointer/testdata/src/testpkg/code.go
  go.mod
  go.sum
  main.go
  vendor/golang.org/x/tools/go/analysis/unitchecker/main.go
  vendor/golang.org/x/tools/go/gcexportdata/main.go
  vendor/modules.txt
Owners: @sadlil, @alaminopu, @aerokite

Add check for direct copy of slice & map
  analyzers/copyslicemap/copy_slice_map.go
  analyzers/copyslicemap/copy_slice_map_test.go
  analyzers/copyslicemap/testdata/src/testpkg/code.go
  main.go
Owners: @sadlil, @alaminopu

Rename copyslicemap to copyboundary
  analyzers/copyboundary/copy_boundary.go
  analyzers/copyboundary/copy_boundary_test.go
  analyzers/copyboundary/testdata/src/testpkg/code.go
  analyzers/mutexpointer/testdata/src/testpkg/code.go
  main.go
Owners: @sadlil, @aerokite, @alaminopu

Add test using copy
  analyzers/copyboundary/testdata/src/testpkg/code.go
Owners: @sadlil

Update doc
  README.md
Owners: @sadlil, @alaminopu

Rename copySliceMapInspector to copyBoundaryInspector
  analyzers/copyboundary/copy_boundary.go
Owners: @sadlil

Implement check for direct copy of slice & map (#7)
  README.md
  analyzers/copyboundary/copy_boundary.go
  analyzers/copyboundary/copy_boundary_test.go
  analyzers/copyboundary/testdata/src/testpkg/code.go
  analyzers/mutexpointer/testdata/src/testpkg/code.go
  main.go
Owners: @sadlil, @alaminopu, @aerokite

Support more test-cases for copyboundary
  analyzers/copyboundary/copy_boundary.go
  analyzers/copyboundary/testdata/src/testpkg/code.go
  vendor/golang.org/x/tools/go/analysis/unitchecker/main.go
  vendor/golang.org/x/tools/go/gcexportdata/main.go
  vendor/modules.txt
Owners: @sadlil

Add different message for map & slice
  analyzers/copyboundary/copy_boundary.go
  analyzers/copyboundary/testdata/src/testpkg/code.go
Owners: @sadlil

Support More Test Cases for copyboundary (#9)
  analyzers/copyboundary/copy_boundary.go
  analyzers/copyboundary/testdata/src/testpkg/code.go
  vendor/golang.org/x/tools/go/analysis/unitchecker/main.go
  vendor/golang.org/x/tools/go/gcexportdata/main.go
  vendor/modules.txt
Owners: @sadlil

Implement Check for Chan size > 1
  analyzers/chansize/chan_size.go
  analyzers/chansize/chan_size_test.go
  analyzers/chansize/testdata/src/testpkg/code.go
  main.go
Owners: @sadlil, @alaminopu

Update README.md
  README.md
Owners: @sadlil, @alaminopu

Update readme for Implement Check for Chan size > 1 (#11)
  README.md
  analyzers/chansize/chan_size.go
  analyzers/chansize/chan_size_test.go
  analyzers/chansize/testdata/src/testpkg/code.go
  main.go
Owners: @sadlil, @alaminopu

Add contributing guideline
  CONTRIBUTING.md
Owners: @sadlil, @alaminopu

Add more details about the tool in readme file
  README.md
Owners: @sadlil, @alaminopu

Update docs to add more details informing about the tool (#12)
  CONTRIBUTING.md
  README.md
Owners: @sadlil, @alaminopu

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
*   @sadlil @alaminopu

# Additional files from root directory
Makefile       @sadlil
/hack/         @sadlil
/vendor/       @sadlil
CODEOWNERS     @sadlil

# Owners for particular analyzers
/analyzers/                    @sadlil
/analyzers/interfacepointer/   @sadlil
/analyzers/mutexpointer/       @aerokite
